main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: src ('../assets/images/retrogame-quiz-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: lavender;
    font-family: 'Orbitron', sans-serif;
}
h3 {
    text-align: center;
        color: rgb(93, 93, 220);
        font-family: 'Orbitron', sans-serif;
} 



body {
    background-color: black;
}

body,
html {
    height: 100%;
}

.panel {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    text-align: center;
    font-size: 30px;
    width: 50%;
    margin-bottom: 20px;
}

.game-quiz-container {
    width: 40rem;
    height: 30rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.game-details-container {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn {
    display: flex;
    align-items: center;
    border-color: black;
    width: 240px;
    height: 50px;
    text-align: center;
}